.hotelForm {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.hotelForm > h2 {
  margin-bottom: 15px
}


.hotelForm label {
  display: block;
  margin-bottom: 10px;
}

.hotelForm input,
.hotelForm textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hotelForm button {
  padding: 10px 20px;
  background-color: #023047;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  